---

---

<html lang="en">
	<head>
		<link rel="stylesheet" href="/src/styles.css" />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hasan Yılmaz'ın İnternet Sitesi</title>
	</head>
	<body>
		<h1>Tasarım bir Problem Çözmedir</h1>
		<p>Grafik tasarımcı ve dijital üretici.</p>
		<button>Hakkımda</button>
		<button>Portfolyo</button>
		<button>İletişim</button>
		<img src="/resim.png" alt="Ekran görseli" />
	</body>
</html>
